.photo{
    position: absolute;
    top: 20%; left: 5%;
}

.title_itd{
    color: black;
    font-size: 23px;

    position: absolute;
    top: 25%; left: 45%;
}

.itd{
    color: black;
    font-size: 15px;

    position: absolute;
    top: 40%; left: 33%;
}
